// Mixins

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 800px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Colors
// Dark Mode Color Variables Start
$darkSurface100: #1A141F;  
$darkSurface200: #221B28; 
$darkSurface300: #29232F; 

// Light Mode Color Variable Start
$lightSurface100: #FAF9FB; 
$lightSurface200: #ffffff; 
$lightSurface300: #FFFFFF; 
	
// Grays
$gray100: #EDEDED;
$gray200: #D1D1D1;
$gray300: #888888;
$gray400: #444444;
$gray500: #222222;

// Shades
$white: #ffffff;
$black: #000000;


// Small devices

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}