---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      h1 {
        padding: 0;
        margin: 0;
      }
      p {
        margin-bottom: 1.5em;
      }
      a {
        text-decoration: underline;
      }

      .mobile-nav-wrapper {
        background-color: white;
        width: 100%;
        height: 4em;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #999;
      }
    </style>
  </head>
  <body>
    <Header />
    <div class="root-wrapper" id="sub-page">
      <div class="root-content text-page">
        <div class="info-container">
          <h1>I'll keep this brief...</h1>
          <!-- <h2></h2> -->
        </div>
        <p>
          I'm John I love to draw boxes, think about drawing boxes, and talk
          about efficient ways to draw boxes. I recently relocated to the
          Seattle after a few decades in the middle of the US. I currently
          design for <a href="https://sentry.io/about/">Sentry</a> and have been
          there for the past three years. Before that I worked in house designing
          <a href="https://connect.garmin.com/">Garmin</a> and before that I was
          at a full service digital agency as a UX Engineer designing and developing
          for brands like Starbucks and Unilever.
        </p>
        <p>
          If you would like to know more
          <a href="mailto:email@example.com">manhartjohn@gmail.com</a>
        </p>
        <!-- <p>
          Prior to Sentry I worked in house for Garmin in Kansas City. I worked
          apart the team dedicated to the Garmin Connet mobile application. I
          helped design features for the wellness segment on Garmin connect for
          iOS and Android. I also helped create the foundation for the Garmin
          design system that serviced over twenty designers.
        </p> -->
      </div>
    </div>

    <!-- <div class="mobile-nav-wrapper">
      <a>About</a><a>Writing</a><a>Social</a>
    </div> -->
  </body><!-- <p>
  I currently lead the Experience Design team of Huge Inc. in Oakland
  where I do hands-on work and lead teams working for clients such as
  Google, Samsung, Playstation and Shipt in projects that span from pure
  upstream concept work to ready to ship products. At Huge I’ve been
  fortunate as well to work on physical spaces and interactive
  installations.
</p> --><!-- <p>
  Prior to Huge I worked at Microsoft where I led a team working on the
  future of audio experiences and afterwards the visual design efforts
  of Fluent Design, the new groundbreaking design system based on
  leveraging our understanding of the real world to improve how we use
  our computers. This work was specifically guided by how we can use
  depth to articulate hierarchy, materials to communicate object
  properties and language’s musical patterns to communicate intent. I
  was able to tell the full story and rationale at TEDx Berkeley.
</p>
<p>
  Working independently I’ve been fortunate to collaborate with some of
  my favorite brands in the world. I worked with Oculus on a vision
  piece that unified their ecosystem into one set of interactive
  paradigms. I worked with Lonely Planet and designed their .com
  homepage and their iPhone and Android Apps. In my experience at
  agencies such as B-Reel, Fantasy Interactive and Elephant I’ve
  designed and led projects for brands like Apple, Adobe, CNN, EA,
  Nickelodeon, Kayak and 23andme among others. I hold patents from
  companies like Microsoft and 23andme and my work has been awarded in
  the past by the European Design Awards, One Show, Webby Awards and
  even an Emmy Award for an Outstanding Creative Achievement in
  Interactive Media for my work on the Nickelodeon App. For the past
  gazillion years I’ve also done work on verticals including healthcare,
  education, e-commerce, travel, music and video streaming, gaming and
  news platforms and entertainment.
</p>
<p>
  Over the years I have worn many hats and worked on a wide range of
  projects for brands in almost every vertical. Here’s a summary of
  those capabilities.
</p> -->
</html>
