---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
import PageHeader from "../components/PageHeader.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script src="../toggle-state.js"></script>
    <style>
      h1 {
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <Header />
    <div class="root-wrapper" id="sub-page">
      <div class="root-content">
        <div class="info-container">
          <h1>About</h1>
          <h2>Copy and other cool shit.</h2>
        </div>
        <p>
          I'm baby blog Brooklyn green juice tumeric shaman skateboard bicycle
          rights literally ascot knausgaard kitsch readymade blue bottle fam.
          Vape narwhal air plant helvetica bodega boys gastropub post-ironic
          intelligentsia live-edge freegan listicle. Butcher health goth same,
          shaman direct trade vice echo park flannel skateboard four dollar
          toast church-key heirloom quinoa selfies. Irony keytar four dollar
          toast hashtag vexillologist. Squid meh woke, keytar post-ironic
          succulents banh mi gatekeep sriracha yr. Try-hard bushwick mlkshk
          kitsch. Ugh disrupt etsy jianbing. Fanny pack put a bird on it godard
          brunch ramps big mood. Sustainable cray fit vice, cloud bread freegan
          bodega boys. Distillery chartreuse salvia, listicle praxis selvage
          live-edge whatever vaporware brunch taiyaki mukbang green juice. Food
          truck selfies fixie single-origin coffee cronut. +1 pour-over flannel
          food truck raclette twee bodega boys ramps artisan pork belly yes plz
          taxidermy narwhal. Retro photo booth same direct trade disrupt
          listicle shaman. Godard neutra pinterest, waistcoat kinfolk JOMO
          authentic hot chicken iPhone. Gochujang roof party cardigan chia,
          coloring book letterpress shaman narwhal lumbersexual. Prism austin
          meggings quinoa banjo. Normcore bicycle rights keffiyeh tousled tote
          bag echo park brunch migas drinking vinegar pork belly. Hoodie
          dreamcatcher food truck organic copper mug beard meh vape enamel pin
          selvage pinterest. Hoodie banjo beard migas sriracha, asymmetrical
          farm-to-table bruh brunch single-origin coffee.
        </p>
      </div>
    </div>
  </body>
</html>
