---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      h1 {
        padding: 0;
        margin: 0;
      }
      a {
        text-decoration: underline;
      }

      .mobile-nav-wrapper {
        background-color: white;
        width: 100%;
        height: 4em;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #999;
      }
    </style>
  </head>
  <body>
    <Header />
    <div class="sub-page-wrapper" id="sub-page">
      <div class="root-content text-page">
        <div class="info-container">
          <h1>Lets keep this brief...</h1>
        </div>
        <p>
          Hello! I'm John I love to draw boxes, think about drawing boxes, and talk
          about efficient ways to draw boxes. I recently relocated to the
          Seattle after a few decades in the middle of the US. I currently
          design for <a href="https://sentry.io/about/">Sentry</a> and have been
          there for the past three years. Before that I worked in house as a UX Designer
          for
          <a href="https://connect.garmin.com/">Garmin</a> and before that I was
          at a full service digital agency as a UX Engineer designing and developing
          for brands like Starbucks and Unilever.
        </p>
        <p>
          If you would like to know more
          <a href="mailto:manhartjohn@gmail.com">manhartjohn@gmail.com</a>
        </p>
      </div>
    </div>
  </body>
</html>
