---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
import ContactForm from "../components/ContactForm.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      h1 {
        padding: 0;
        margin: 0;
      }
      a {
        text-decoration: underline;
      }

      .mobile-nav-wrapper {
        background-color: white;
        width: 100%;
        height: 4em;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #999;
      }
    </style>
  </head>
  <body>
    <Header />
    <div class="sub-page-wrapper">
      <div class="root-content text-page">
        <div>
          <h2>Get in Touch</h2>
        </div>
        <p>
          Have a question or want to work together? I'd love to hear from you.
        </p>
        <ContactForm />
      </div>
    </div>
  </body>
</html> 