---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/global.scss" />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script>
      import * as Sentry from "@sentry/browser";
      import { BrowserTracing } from "@sentry/tracing";

      Sentry.init({
        dsn: "https://c61e7197f1d94c0ca64c31b4d54a8acd@o4504409046908928.ingest.sentry.io/4504409048154112",
        integrations: [new BrowserTracing()],
        tracesSampleRate: 1.0,
        release: "<release_name>",
      });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5VVGRENYE8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-5VVGRENYE8');
    </script>
    <style lang="scss">
      @import "../styles/_mixins.scss";
      header {
        @include sm {
          background-color: transparent;
          border-bottom: 0px;
          position: fixed;
          width: 100%;
          z-index: 999;
        }
        box-sizing: border-box;
        overflow-x: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 1em;
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid #e6e6e6;
      }
      nav {
        box-sizing: content-box;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }
      .personal-logo {
        width: 24px;
        height: 24px;
        background-color: gray;
      }
      .hero-content {
        width: 75%;
        max-width: 65ch;
      }
      .root-info-container {
        max-width: 40em;
      }
      .root-social-container {
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        gap: 1em;
        @include sm {
          padding-top: 3em;
          flex-direction: row;
        }
      }
      .root-social-links {
        font-size: 1.5em;
        // padding-right: 1em;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <div class="root-wrapper" id="hero">
      <div class="root-content">
        <img src="self-02.png" class="hero-image" />
        <h1>Hi, I'm John!</h1>
        <div class="root-info-container">
          <h2>
            A Product Designer living in Seattle. Currently at <a
              href="https://sentry.io/welcome/">Sentry</a
            >.
          </h2>
        </div>
        <div class="root-social-container">
          <a href="https://twitter.com/JohnManhart">
            <span class="root-social-links">Twitter</span>
          </a>
          <a href="https://www.linkedin.com/in/john-manhart/">
            <span class="root-social-links">Linkedin</span>
          </a>
          <a href="https://github.com/jmanhart">
            <span class="root-social-links">Github</span>
          </a>
          <a href="https://letterboxd.com/manhart/">
            <span class="root-social-links">Letterboxd</span>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
