---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<div class="wrapper">
			<div class="content">
				<h1 id="welcome-string">Hi, I'm John </h1>
				<p>
					A Product Designer living in Seattle. Currently working at Sentry.
				</p>
			</div>
		</div>
	</body>
</html>



<!-- 
greetings: [
"Hello,",
"Hi,",
"Howdy,",
"Hiya,",
"Yo,",``
"Aloha,",
"Sup,",
"Hullo,",
"Hola,",
"Hallo,",
"Ciao,",
"ðŸ‘‹ðŸ»",
"Hej,",
"Bonjour,",
"Oh hey,",
"ì—¬ë³´ì„¸ìš”,",
"Salut,"
], -->