---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
import CardHero from "../components/card-hero.astro";
// import CardSmall from "../components/card-small.astro";
// import CardMini from "../components/card-mini.astro";

const projects = [
  {
    category: "Personal Project",
    href: "/projects/age-when-made",
    title: "Age When Made",
    description: "See how old actors were when movies were made and now.",
  },
  {
    category: "Personal Project",
    href: "/projects/trad-directory",
    title: "The Trad Directory",
    description: "A directory for trad climbing resources.",
  },
  {
    category: "Personal Project",
    href: "/projects/commit-vibes",
    title: "Commit Vibes",
    description: "An npm package to commit your vibes",
  },
  {
    category: "Personal Project",
    href: "/projects/records-app",
    title: "My Record Collection",
    description: "Keeping my vinyl collection in order",
  },
];
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="sub-page-wrapper">
      <div class="root-content text-page">
        <div>
          <h2>Projects</h2>
          <p>Here is a list of silly things I have been working on over the past few months to stay sharp and learn new things.</p>
          <div class="project-cards">
            {projects.map(project => (
              <CardHero {...project} />
            ))}
          </div>
          {/**
          Example usage for CardSmall and CardMini:
          <CardSmall href="/projects/example" title="Small Card" description="A small card example." />
          <CardMini href="/projects/example-mini" title="Mini Card" description="A mini card example." />
          */}
        </div>
      </div>
    </div>
  </body>
</html>
