---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="sub-page-wrapper">
      <div class="root-content text-page">
        <div>
          <h2>Projects</h2>
          <p>Here are some silly things I have been working on over the past few months</p>
            <div class="project-cards">
            <a class="project-card" href="/projects/age-when-made">
                <h3>Age When Made</h3>
                <p>See how old actors were when movies were made and now.</p>
            </a>
            <a class="project-card" href="/projects/trad-directory">
                <h3>The Trad Directory</h3>
                <p>A directory for trad climbing resources.</p>
            </a>
            <a class="project-card" href="/projects/commit-vibes">
                <h3>Commit Vibes</h3>
                <p>Track your commit streaks and vibes.</p>
            </a>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
