---
import { getSlides } from "../utils/getSlides";

const slides = getSlides()
  .filter(({ draft }) => !draft)
  .sort((c1, c2) => (c1.title > c2.title ? -1 : 1));
---

<h1>Slides</h1>
<p>Here you can find a list of all available slides:</p>
{
  slides.map((slide) => (
    <a href={`/slides/${slide.id}`}>
      <h2>{slide.title}</h2>
      <p>{slide.description}</p>
      <small>{new Date(slide.publishedAt).toLocaleDateString()}</small>
    </a>
  ))
}
