---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
import CardHero from "../components/card-hero.astro";

const socialMediaAccounts = [
  { name: "Bluesky", url: "https://staging.bsky.app/profile/manhart.bsky.social" },
  { name: "Chess.com", url: "https://www.chess.com/member/harthartman" },
  { name: "Dribbble", url: "https://dribbble.com/manhart" },
  { name: "Discogs", url: "https://www.discogs.com/user/manhartjohn" },
  { name: "Figma", url: "https://www.figma.com/@manhart" },
  { name: "Github", url: "https://github.com/jmanhart" },
  { name: "Instagram", url: "https://github.com/jmanhart" },
  { name: "Letterboxd", url: "https://letterboxd.com/manhart/" },
  { name: "Linkedin", url: "https://www.linkedin.com/in/john-manhart/" },
  { name: "Read.cv", url: "https://read.cv/manhart" },
  { name: "Steam", url: "https://steamcommunity.com/id/ItsManhart/" },
  { name: "Strava", url: "https://www.strava.com/athletes/2083068" },
  { name: "Twitter", url: "https://twitter.com/JohnManhart" },
  { name: "Threads", url: "https://www.threads.net/@johnmanhart" },
  { name: "Twitch", url: "https://www.twitch.tv/itsmanhart" },
  { name: "Youtube", url: "https://www.youtube.com/channel/UCdgLTD7oNCCi5Y1sPVqDkwQ" },
];
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="scss">
      #social-page {
        .social-container {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          
          max-width: 600px;
         
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <div class="sub-page-wrapper" id="social-page">
      <div class="root-content text-page">
        <div class="info-container">
          <h2>Social Links</h2>
          <p>Look at all the silly social media accounts I use. </p>
        </div>
        <div class="social-container">
          {socialMediaAccounts.map(account => (
            <CardHero href={account.url} title={account.name}  />
          ))}
        </div>
      </div>
    </div>
  </body>
</html>



