---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
---





<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="scss">
     
      .root-social-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
      .root-social-links {
        font-size: 2.5em;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <Header />
    <div class="sub-page-wrapper" id="sub-page">
      <div class="root-content text-page">
        <div class="info-container">
          <h2>Social Links</h2>
        </div>
        <div class="root-social-container" id="social-media-cards"></div>
      </div>
    </div>
    <script>
      const socialMediaAccounts = [
        {
          name: "Bluesky",
          url: "https://staging.bsky.app/profile/manhart.bsky.social",
          icon: "bluesky",
        },
        {
          name: "Chess.com",
          url: "https://www.chess.com/member/harthartman",
          icon: "dribbble",
        },
        {
          name: "Dribbble",
          url: "https://dribbble.com/manhart",
          icon: "dribbble",
        },
        {
          name: "Discogs",
          url: "https://www.discogs.com/user/manhartjohn",
          icon: "discogs",
        },
        {
          name: "Figma",
          url: "https://www.figma.com/@manhart",
          icon: "figma",
        },
        {
          name: "Github",
          url: "https://github.com/jmanhart",
        },
        {
          name: "Instagram",
          url: "https://github.com/jmanhart",
        },
        {
          name: "Letterboxd",
          url: "https://letterboxd.com/manhart/",
        },
        {
          name: "Linkedin",
          url: "https://www.linkedin.com/in/john-manhart/",
        },
        {
          name: "Read.cv",
          url: "https://read.cv/manhart",
        },
        {
          name: "Steam",
          url: "https://steamcommunity.com/id/ItsManhart/",
        },
        {
          name: "Strava",
          url: "https://www.strava.com/athletes/2083068",
        },
        {
          name: "Twitter",
          url: "https://twitter.com/JohnManhart",
        },
        {
          name: "Threads",
          url: "https://www.threads.net/@johnmanhart",
        },
        {
          name: "Twitch",
          url: "https://www.twitch.tv/itsmanhart",
        },
        {
          name: "Youtube",
          url: "https://www.youtube.com/channel/UCdgLTD7oNCCi5Y1sPVqDkwQ",
        },
      ];

      const employeeCards = socialMediaAccounts.map(function (account) {
        return `
        <a href="${account.url}" target="_blank" rel="noopener noreferrer">
          <div class="social-link-container">
            <span class="root-social-links">${account.name}</span>
          </div>
            
        </a>
        `;
      });

      document.getElementById("social-media-cards").innerHTML =
        employeeCards.join("");

      const style = document.createElement("style");
      style.textContent = `
        .root-social-links {
          font-size: 1em;
          cursor: pointer;
        }
      `;
      document.head.appendChild(style);
    </script>
  </body>
</html>



