---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Header from '../components/Header.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
                <ul>
					<li>Github</li>
					<li>Linkedin</li>
					<li>Twitter</li>
					<li>Twitch</li>
					<li>Letterboxd</li>
					
				</ul>
			</section>
		</main>
	</body>
</html>