---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script src="../toggle-state.js"></script>
  </head>
  <body>
    <Header />
    <div class="root-wrapper" id="sub-page">
      <div class="root-content">
        <div class="info-container">
          <h1>Social Links</h1>
          <h2>All the forms of social media</h2>
        </div>
        <div class="cards" id="social-media-cards"></div>
      </div>
    </div>
    <script>
      const socialMediaAccounts = [
        {
          name: "Dribbble",
          url: "https://dribbble.com/manhart",
          icon: "dribbble",
        },
        {
          name: "Figma",
          url: "https://www.figma.com/@manhart",
          icon: "figma",
        },
        {
          name: "Github",
          url: "https://github.com/jmanhart",
        },
        {
          name: "Instagram",
          url: "https://github.com/jmanhart",
        },
        {
          name: "Letterboxd",
          url: "https://letterboxd.com/manhart/",
        },
        {
          name: "Linkedin",
          url: "https://www.linkedin.com/in/john-manhart/",
        },
        {
          name: "Twitter",
          url: "https://twitter.com/JohnManhart",
        },
        {
          name: "Twitch",
          url: "https://www.twitch.tv/itsmanhart",
        },
        {
          name: "Youtube",
          url: "https://www.youtube.com/channel/UCdgLTD7oNCCi5Y1sPVqDkwQ",
        },
      ];

      const employeeCards = socialMediaAccounts.map(function (account) {
        return `
          <div class="card">
            <h3>${account.name}</h3>
          </div>
        `;
      });

      document.getElementById("social-media-cards").innerHTML =
        employeeCards.join("");

      const style = document.createElement("style");
      style.textContent = `
        .cards {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1em;
        }
        .card {
          width: 300px;
          height: 300px;
          border-radius: 0.25em;
          border: 1px solid #999;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      `;
      document.head.appendChild(style);
    </script>
  </body>
</html>
