---
import "../styles/global.scss";

const { pathname } = Astro.url;
const hideOnPaths = ['/']; // Paths where the button should be hidden
const shouldHideButton = hideOnPaths.includes(pathname);
const prettyPath = pathname.replace(/^\/+|\/+$/g, "").split("/").join(" / ");
---

{!shouldHideButton && (
    <div class="breadcrumb" onclick="window.history.back()">       
        <span class="pretty-path">{prettyPath}</span>
    </div>
)}



<style>
    .breadcrumb {
        position: fixed;
        top: 0;
        left: 4em;
        padding: 1.25em 0em;
    }
    .styled-pathname {
        font-size: 1em;
        font-family: monospace;
        letter-spacing: 0.05em;
    }

</style>