---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <!-- <HeaderLink href="/blog">Writing</HeaderLink> -->
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/social">Social Links</HeaderLink>
    <button id="toggle-button">
      <img
        src="/icon-moon.svg"
        class="icon-moon"
        alt="moon"
        id="toggle-button-icon"
      />
      <img
        src="/icon-sun.svg"
        class="icon-sun"
        alt="sun"
        id="toggle-button-icon"
      />
    </button>
  </nav>
  <script type="text/javascript">
    const storedTheme = localStorage.getItem("theme") || "light-theme";
    document.body.classList.add(storedTheme);
  </script>
  <script>
    document.getElementById("toggle-button").addEventListener("click", () => {
      // Set the default theme
      let currentTheme = localStorage.getItem("theme");

      // If the theme is not set, set the default theme to light-theme
      if (!currentTheme) {
        currentTheme = "light-theme";
      }

      const body = document.body;
      switch (currentTheme) {
        case "light-theme":
          body.classList.toggle("light-theme", false);
          body.classList.toggle("dark-theme", true);
          currentTheme = "dark-theme";
          localStorage.setItem("theme", currentTheme);
          break;
        case "dark-theme":
          body.classList.toggle("dark-theme", false);
          body.classList.toggle("light-theme", true);
          currentTheme = "light-theme";
          localStorage.setItem("theme", currentTheme);
          break;
      }
      console.log(localStorage);
    });
  </script>
</header>

<style lang="scss">
  @import "../styles/_mixins.scss";
  #toggle-button {
    position: relative;
    height: 1.25em;
    width: 1.25em;
    margin-top: 0rem;
    cursor: pointer;
    .icon-moon,
    .icon-sun {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
    }
  }
  header {
    box-sizing: border-box;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid;
    // backdrop-filter: blur(12px);
    @include sm {
      border-bottom: 0px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      height: min-content;
    }
  }
  body.light-theme #toggle-button > .icon-sun {
    visibility: visible;
  }
  body.dark-theme #toggle-button > .icon-moon {
    visibility: visible;
  }
  nav {
    box-sizing: content-box;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    @include sm {
      a {
        margin-right: 1em;
      }
      display: flex;
      justify-content: flex-end;
    }
  }
  .personal-logo {
    width: 24px;
    height: 24px;
    background-color: gray;
  }
</style>
