---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <HeaderLink href="/blog">Writing</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/social">Social</HeaderLink>
    <button id="toggle-button">
      <img
        src="/public/icon-sun.svg"
        class="icon"
        alt="Button icon"
        id="toggle-button-icon"
      />
    </button>
  </nav>
  <script>
    import { toggleTheme } from "../toggle-state.js";
    document
      .getElementById("toggle-button")
      .addEventListener("click", toggleTheme);
  </script>
</header>

<style lang="scss">
  @import "../styles/_mixins.scss";
  header {
    box-sizing: border-box;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #e6e6e6;
    @include sm {
      border-bottom: 0px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      height: min-content;
    }
  }
  nav {
    box-sizing: content-box;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    @include sm {
      display: flex;
      justify-content: flex-end;
    }
  }
  .personal-logo {
    width: 24px;
    height: 24px;
    background-color: gray;
  }
</style>
