---
const { title, description } = Astro.props;
---

<div class="page-header-wrapper">
  <h1>{title}</h1>
  <p class="page-header-description">{description}</p>
</div>

<style lang="scss">
  @import "../styles/_mixins.scss";
  footer {
    padding: 25px;
    text-align: center;
  }
  .page-header-wrapper {
    margin-bottom: 2em;
  }
  .page-header-title {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 400;
  }
  .page-header-description {
    margin: 0;
    padding: 0;
    font-size: 2rem;
  }
</style>
