---
const { title, description } = Astro.props;
---

<div>
  <div>Dark Mode</div>
  <div>Icon</div>
</div>

<style lang="scss">
  @import "../styles/_mixins.scss";
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
