---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import Header from "../../components/Header.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="sub-page-wrapper">
      <div class="root-content text-page">
        <div>
          <h2>Age when made</h2>
          <p> Have you ever been watching a movie and wondered how old the charaters were when they made this and now?</p>
          <p>This is a project that allows you to search for a movie and see the age of the characters when the movie was made.</p>
          <a href="https://agewhenmade.com">Age When Made</a>
          <a href="https://github.com/manhartjohn/age-when-made">Github</a>
        </div>
 
      </div>
    </div>
  </body>
</html>
