---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import Header from "../../components/Header.astro";
import CardHero from "../../components/card-hero.astro";
import ProjectHeader from "../../components/ProjectHeader.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="sub-page-wrapper">
      <div class="root-content text-page">
        <div>
          <ProjectHeader 
            title="Records App" 
            description="My record collection" 
            liveUrl="https://records.manhart.io"
            liveSiteText="records.manhart.io"
            githubUrl=https://github.com/jmanhart/record-collection"
          />
          <p>I like records. I don't like forgetting what I have at home when I'm standing in a record store about to make a purchase. This simple app helps me keep a pulse on my collection and makes sure I never buy a duplicate.</p>
 
        </div>
 
      </div>
    </div>
  </body>
</html>
