---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import Header from "../../components/Header.astro";
import ProjectHeader from "../../components/ProjectHeader.astro";

---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="sub-page-wrapper">
      <div class="root-content text-page">
        <div>
          <ProjectHeader 
            title="Trad Directory" 
            description="Because finding a good tattoo artist is hard." 
            liveUrl="https://www.trad-directory.com/"
            liveSiteText="www.trad-directory.com/"
            githubUrl="https://github.com/jmanhart/trad-directory"
          />
          <h4>My current tattoo count 12 and counting</h4>
          <p>This project helps people find top traditional tattoo artists by location.</p>
          <p>I started getting tattoos in 2023 and quickly wanted more—but finding great artists wasn't easy. Most are on Instagram, but searching by location there is rough.</p>
          <p>This is just a searchable database of artists I've found and logged. Simple as that.</p>
        </div>
      </div>
    </div>
  </body>
</html>
