---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import Header from "../../components/Header.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="sub-page-wrapper">
      <div class="root-content text-page">
        <div>
          <h2>Trad Directory</h2>
          <p>This is a project to help people find the best artists by location for traditional tattoos</p>
          <a href="https://www.trad-directory.com/">Trad Directory</a>
          <a href="https://github.com/manhartjohn/trad-directory">Github</a>
        </div>
      </div>
    </div>
  </body>
</html>
